*{
    margin: 0px;
    padding: 0px;
    position: relative;
   }

   html, body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: rgb(32, 32, 32);
   }
   .main-container {
       display: grid;
       height: 100%;
       grid-template-rows: 1fr 12fr 1fr;
    
   }
   .row-one, 
   .row-two, 
   .row-three{
       display: grid;
       grid-template-columns: 1fr 5fr 2fr;
       height: 100%;

   }
   .row-two{
       background-color: rgb(255, 255, 255);
       
   }
   .row-three{
        
   }

   .container-padding{
       margin: 12px;
       border: 1px dashed black;
   }